<body style="background-color: red;" >
<div class="center jumbotron" >

<h1><em> Welcome to Bhanu Restaurant Reservations </em></h1>
</body> 
  <p><%= link_to "Make A Reservation", "/reservations/new/", class: "btn btn-danger btn-lg btn-xlarge"  %> </p>

  <p><%= link_to "View Reservations", "/reservations", class: "btn btn-danger btn-lg btn-xlarge"  %> </p>

</div>

<html/>